<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @area.nombre %>
</p>

<p>
  <strong>Encargado:</strong>
  <%= @area.encargado %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @area.telefono %>
</p>

<%= link_to 'Edit', edit_area_path(@area) %> |
<%= link_to 'Back', areas_path %>
